<div class="box p-5 px-6 border1 dark:bg-dark2">

    <div class="flex items-baseline justify-between text-black dark:text-white">
        <h3 class="font-bold text-base"> People you should check out </h3>
        <a href="#" class="text-sm text-blue-500">See all</a>
    </div>

    <div class="side-list">

        <div class="side-list-item">
            <a href="timeline.html">
                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="side-list-image rounded-full">
            </a>
            <div class="flex-1">
                <a href="timeline.html"><h4 class="side-list-title">  John Michael </h4></a>
                <div class="side-list-info"> 125k Following </div>
            </div>
            <button class="button bg-primary-soft text-primary dark:text-white">follow</button>
        </div>

        <div class="side-list-item">
            <a href="timeline.html">
                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="side-list-image rounded-full">
            </a>
            <div class="flex-1">
                <a href="timeline.html"><h4 class="side-list-title"> Monroe Parker </h4></a>
                <div class="side-list-info"> 320k Following </div>
            </div>
            <button class="button bg-primary-soft text-primary dark:text-white">follow</button>
        </div>

        <div class="side-list-item">
            <a href="timeline.html">
                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="side-list-image rounded-full">
            </a>
            <div class="flex-1">
                <a href="timeline.html"><h4 class="side-list-title"> James Lewis</h4></a>
                <div class="side-list-info"> 125k Following </div>
            </div>
            <button class="button bg-primary-soft text-primary dark:text-white">follow</button>
        </div>

        <div class="side-list-item">
            <a href="timeline.html">
                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="side-list-image rounded-full">
            </a>
            <div class="flex-1">
                <a href="timeline.html"><h4 class="side-list-title">  Alexa stella </h4></a>
                <div class="side-list-info"> 192k Following </div>
            </div>
            <button class="button bg-primary-soft text-primary dark:text-white">follow</button>
        </div>

        <div class="side-list-item">
            <a href="timeline.html">
                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="side-list-image rounded-full">
            </a>
            <div class="flex-1">
                <a href="timeline.html"><h4 class="side-list-title"> John Michael </h4></a>
                <div class="side-list-info"> 320k Following </div>
            </div>
            <button class="button bg-primary-soft text-primary dark:text-white">follow</button>
        </div>

        <button class="bg-secondery button w-full mt-2 hidden">See all</button>

    </div>

</div>