<div class="box p-5 px-6 border1 dark:bg-dark2">

    <div class="flex justify-between text-black dark:text-white">
        <h3 class="font-bold text-base"> Online Friends </h3>
        <button type="button"> <ion-icon name="sync-outline" class="text-xl"></ion-icon> </button>
    </div>

    <div class="grid grid-cols-6 gap-3 mt-4">

        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-2.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>
        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-3.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>
        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-4.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>
        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-5.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>
        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-6.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>
        <a href="timeline.html">
            <div class="w-10 h-10 relative">
                <img src="assets/images/avatars/avatar-7.jpg" alt="" class="w-full h-full absolute inset-0 rounded-full">
                <div class="absolute bottom-0 right-0 m-0.5 bg-green-500 rounded-full w-2 h-2"></div>
            </div>
        </a>

    </div>


</div>
