@page "/login"
@inherits LoginBase
@layout AuthLayout
@using MudBlazor
@using Socialite.Web.Client.Models.Auth

@attribute [AllowAnonymous]

@rendermode InteractiveWebAssembly

<!-- title -->
<div>
    <h2 class="text-2xl font-semibold mb-1.5"> Sign in to your account </h2>
    <p class="text-sm text-gray-700 font-normal">If you haven’t signed up yet. 
        <a href="/register" class="text-blue-700">Register here!</a>
    </p>
</div>

<EditForm uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 100 ;repeat: true" class="space-y-7 text-sm text-black font-medium dark:text-white" Model="LoginModel"  @ref="_editForm">

    <Blazored.FluentValidation.FluentValidationValidator></Blazored.FluentValidation.FluentValidationValidator>
    
    <div class="mt-2.5">
        <label for="email" class="">Email address</label>
        <input @bind-value="LoginModel.Username" id="email" type="email" Placeholder="Email" class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
        <ValidationMessage style="color:red;" For="@(()=>LoginModel.Username)"></ValidationMessage>
    </div>

    <div class="mt-2.5">
        <label for="password" class="">Password</label>
        <input @bind-value="LoginModel.Password" id="password" name="password" type="password" placeholder="***" class="!w-full !rounded-lg !bg-transparent !shadow-sm !border-slate-200 dark:!border-slate-800 dark:!bg-white/5">
        <ValidationMessage style="color:red;" For="@(()=>LoginModel.Password)"></ValidationMessage>
    </div>

    <!-- submit button -->
    <div>
        <button @onclick="Login" class="button bg-primary text-white w-full">Sign in</button>
    </div>

    <div class="text-center flex items-center gap-6">
        <hr class="flex-1 border-slate-200 dark:border-slate-800">
        Or continue with
        <hr class="flex-1 border-slate-200 dark:border-slate-800">
    </div>

    <!-- social login -->
    <div class="flex gap-2" uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 400 ;repeat: true">
        <a href="#" class="button flex-1 flex items-center gap-2 bg-primary text-white text-sm"> <ion-icon name="logo-facebook" class="text-lg"></ion-icon> facebook  </a>
        <a href="#" class="button flex-1 flex items-center gap-2 bg-sky-600 text-white text-sm"> <ion-icon name="logo-twitter"></ion-icon> twitter  </a>
        <a href="#" class="button flex-1 flex items-center gap-2 bg-black text-white text-sm"> <ion-icon name="logo-github"></ion-icon> github  </a>
    </div>

</EditForm>