@using Microsoft.AspNetCore.Components.Authorization
@*  <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>  *@

<CascadingAuthenticationState >
    <Router  AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">

        <Found Context="routeData">

            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Components.MainLayout)">
                <NotAuthorized>
                    <LoginRedirect></LoginRedirect>
                </NotAuthorized>

            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />

        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView >
                <p role="alert">Not Found</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
