@using Socialite.Web.Client.Models.Post
@inherits CreatePostDialogBase


<MudDialog ContentStyle="padding:0;" >

    <DialogContent>

        <div class=".z-50" style="position:relative;" id="create-status">

        <div class="relative overflow-hidden mx-auto bg-white shadow-xl rounded-lg md:w-[520px] w-full dark:bg-dark2">

            <div class="text-center py-4 border-b mb-0 dark:border-slate-700">
                <h2 class="text-sm font-medium text-black"> Create Status </h2>

                <!-- close button -->
                    <button @onclick="@(()=>MudDialogInstance.Close())" type="button" class="button-icon absolute top-0 right-0 m-2.5 uk-modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>

            </div>

            <EditForm Model="CreateModel" @ref="_editForm" >
                <Blazored.FluentValidation.FluentValidationValidator></Blazored.FluentValidation.FluentValidationValidator>

            <div class="space-y-5 mt-3 p-2">
                <MudTextField @bind-Value="CreateModel.Content" class="w-full !text-black placeholder:!text-black !bg-white !border-transparent focus:!border-transparent focus:!ring-transparent !font-normal !text-xl   dark:!text-white dark:placeholder:!text-white dark:!bg-slate-800" name="" id="" rows="6" placeholder="What do you have in mind?"></MudTextField>
                        <ValidationMessage style="color:red;" For="@(()=>CreateModel.Content)"></ValidationMessage>
            </div>

            @* place feeling stuff *@
            <div class="flex items-center gap-2 text-sm py-2 px-4 font-medium flex-wrap">
                <button type="button" class="flex items-center gap-1.5 bg-sky-50 text-sky-600 rounded-full py-1 px-2 border-2 border-sky-100 dark:bg-sky-950 dark:border-sky-900">
                    <ion-icon name="image" class="text-base"></ion-icon>
                    Image
                </button>
                <button type="button" class="flex items-center gap-1.5 bg-teal-50 text-teal-600 rounded-full py-1 px-2 border-2 border-teal-100 dark:bg-teal-950 dark:border-teal-900">
                    <ion-icon name="videocam" class="text-base"></ion-icon>
                    Video
                </button>
                <button type="button" class="flex items-center gap-1.5 bg-orange-50 text-orange-600 rounded-full py-1 px-2 border-2 border-orange-100 dark:bg-yellow-950 dark:border-yellow-900">
                    <ion-icon name="happy" class="text-base"></ion-icon>
                    Feeling
                </button>
                <button type="button" class="flex items-center gap-1.5 bg-red-50 text-red-600 rounded-full py-1 px-2 border-2 border-rose-100 dark:bg-rose-950 dark:border-rose-900">
                    <ion-icon name="location" class="text-base"></ion-icon>
                    Check in
                </button>
            </div>

            <div class="p-5 flex justify-between items-center">
                <div class="pl-5">

                <MudSelect T="PostVisibility" @bind-Value="CreateModel.Visibility" >
                    <MudSelectItem T="PostVisibility" Value="PostVisibility.Public"></MudSelectItem>
                    <MudSelectItem T="PostVisibility" Value="PostVisibility.Private"></MudSelectItem>
                </MudSelect>

                </div>

                <div class="flex items-center gap-2">
                    <button @onclick="Post" type="button" class="button bg-blue-500 text-white py-2 px-12 text-[14px]"> Create</button>
                </div>
            </div>

            </EditForm>
        </div>

    </div>

    </DialogContent>

</MudDialog>
